.button {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: rem(200);
  min-height: rem(40);
  padding: rem(8);
  font-size: rem(14);
  font-weight: 700;
  color: #fff;
  background-color: var(--color-primary);
  border: rem(1) solid transparent;
  border-radius: var(--round-button);
  transition: var(--hover-base-duration) var(--hover-base-easing);
  transition-property: color, background-color, border-color;
  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary);
      background-color: var(--color-base-bg);
      border-color: var(--color-primary);
    }
  }
  &.outline {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-primary);
    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background-color: var(--color-primary);
      }
    }
  }
  &.center {
    margin-inline: auto;
  }
}
