.label {
  display: flex;
  align-items: center;
  column-gap: rem(8);
  .text {
    font-weight: 700;
  }
  .tag {
    display: grid;
    place-items: center;
    padding: rem(4) rem(6);
    font-size: rem(12);
    line-height: 1;
    font-weight: 700;
    color: #fff;
    &.isRequired {
      background-color: var(--color-primary);
    }
    &.isOptional {
      background-color: var(--color-gray);
    }
  }
}
