.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);
  width: fit-content;
}

.icon {
  width: rem(100);
  height: rem(38);
  img {
    width: 100%;
  }
}

.label {
  font-size: rem(26);
  line-height: 1;
  letter-spacing: 0.12em;
  font-weight: 700;
}