
.icon {
  position: relative;
  width: 200px;
  aspect-ratio: 1;
  background-color: greenyellow;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    translate: 0 100%;
    font-size: 36px;
    color: red;
    content: "てすと";
  }
}

.text {
  font-size: rem(100);
  color: var(--color-primary);
}