.menu {
  position: relative;
  margin-top: min(vwcalc(224), rem(224));
  .lead {
    margin-top: min(vwcalc(40), rem(40));
    font-size: clamp(rem(13), vwcalc(15), rem(15));
    line-height: 1.6;
    letter-spacing: 0.12em;
    text-align: center;
  }
  .icon {
    position: absolute;
    top: min(vwcalc(78), rem(78));
    left: min(vwcalc(415), rem(415));
    width: min(vwcalc(102), rem(102));
    height: min(vwcalc(122), rem(122));
    img {
      width: 100%;
    }
  }
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: min(vwcalc(42), rem(42));
    margin-top: min(vwcalc(60), rem(60));
  }
}