.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: var(--z-index-header);
  &.menuOpen {
    .body {
      translate: 0;
      pointer-events: auto;
    }
  }
  .inner {
    display: flex;
    justify-content: flex-end;
    padding: min(vwcalc(22), rem(22));
    &:has(.logo) {
      justify-content: space-between;
    }
    @include mq {
      padding: rem(10) rem(17);
    }
  }
  .logo {
    width: 100%;
    max-width: min(vwcalc(100), rem(100));
    @include mq {
      max-width: rem(60);
    }
    .link {
      display: block;
      @include hover-fade;
    }
  }
  .body {
    position: absolute;
    top: 0;
    right: 0;
    translate: 120% 0;
    width: min(vwcalc(370), rem(370));
    height: 100dvh;
    pointer-events: none;
    transition: var(--hover-base-duration) var(--hover-base-easing);
    transition-property: translate, pointer-events;
    @include mq {
      width: rem(280);
    }
  }
  .bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: rem(108) rem(46) rem(34);
    overflow-y: auto;
    @include mq {
      padding: rem(90) rem(28) rem(10);
    }
  }
  .menuLogo {
    width: clamp(rem(100), vwcalc(130), rem(130));
    aspect-ratio: 1;
    @include mq {
      width: rem(100);
    }
    a {
      @include hover-fade;
    }
    img {
      width: 100%;
    }
  }
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include hover-fade;
    .bg {
      position: relative;
      width: rem(111);
      height: rem(146);
      img {
        grid-area: 1 / 1;
        width: 100%;
      }
      .label {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: rem(61);
        left: 50%;
        translate: -50% 0;
        width: 100%;
        color: #fff;
        .main {
          font-size: rem(18);
          line-height: 1.4;
          font-weight: 700;
          font-family: var(--font-notosan);
        }
        .sub {
          font-size: rem(12);
          line-height: 2;
          font-weight: 400;
        }
      }
    }
    .icon {
      position: relative;
      z-index: 10;
      width: rem(51);
      height: rem(47);
      margin-top: rem(-36);
      img {
        width: 100%;
      }
    }
  }
}
