.nav {
  margin-block: rem(32) rem(78);
  @include mq {
    margin-block: rem(30) rem(120);
  }
  .list {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }
  .item {
    line-height: 2.5;
    font-weight: 700;
    text-align: right;
  }
}
