.article {
  .thumbnail {
    aspect-ratio: 600 / 400;
    @include mq {
      aspect-ratio: 380 / 253;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--round-image);
    }
  }
  .meta {
    display: flex;
    align-items: center;
    column-gap: rem(10);
    margin-top: min(vwcalc(30), rem(30));
    @include mq {
      margin-top: rem(26);
    }
    .tag {
      display: grid;
      place-items: center;
      width: fit-content;
      height: rem(23);
      padding-inline: rem(22);
      font-size: rem(13);
      line-height: 1;
      letter-spacing: 0.07em;
      font-weight: 700;
      color: #fff;
      background-color: var(--color-primary);
      border-radius: var(--round-base) rem(2) var(--round-base) rem(2);
      @include hover-fade;
    }
    .date {
      font-size: rem(14);
      line-height: 1.7;
    }
  }
  .title {
    @include heading1;
    margin-top: min(vwcalc(30), rem(30));
    @include mq {
      margin-top: rem(26);
    }
  }
  .content {
    > :where(*) {
      margin-top: min(vwcalc(30), rem(30));
      @include mq {
        margin-top: rem(26);
      }
    }
    h2 {
      padding: rem(12) rem(8);
      border-bottom: rem(1) solid var(--color-accent);
      @include heading2;
    }
    h3 {
      padding: rem(6) rem(12);
      background-color: var(--color-gray2);
      @include heading3;
    }
    ul {
      margin-left: 1.2em;
      list-style-type: disc;
      li {
        & + li {
          margin-top: rem(8);
        }
      }
    }
    :where(img, figure) {
      aspect-ratio: 600 / 400;
      @include mq {
        aspect-ratio: 380 / 253;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
