@use '@/scss/variable' as *;
@use '@/scss/icons' as *;
@use 'sass:map';
@use 'sass:math';

/* ******************************************************
breakpoints
****************************************************** */
@mixin mq($breakpoint: md) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ******************************************************
hover
****************************************************** */
@mixin hover() {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }

    &:focus-visible {
      @content;
    }
  }
}

/* ******************************************************
Convert to Rem
****************************************************** */
@function rem($size) {
  @return math.div($size, 10) + rem;
}

/* ******************************************************
Liquid
****************************************************** */
@function vwcalc($size, $wrapper: 1140) {
  @return calc($size / $wrapper * 100vw);
}

/* ******************************************************
icon
****************************************************** */
@mixin icon($icon-name) {
  $icon: map.get($icons, $icon-name);

  @if $icon == null {
    @error "Icon `#{$name}` not found.";
  }

  mask-image: url(map.get($icon, 'url'));
  mask-repeat: no-repeat;
  mask-position: center;
  aspect-ratio: map.get($icon, 'w') / map.get($icon, 'h');
}
