@use '@/scss/mixin' as *;

:root {
  --font-base: 'Noto Serif JP', serif;
  --font-notosan: 'Noto Sans JP', sans-serif;
  --color-base: #333;
  --color-base-bg: #f9f6f1;
  --color-primary: #047836;
  --color-accent: #8b1c1a;
  --header-height: #{rem(140)};
  --lh-base: 1.56;
  --round-base: #{rem(10)};
  --round-button: #{rem(1)} #{rem(20)} #{rem(1)} #{rem(20)};
  --box-shadow-base: 0 #{rem(4)} #{rem(24)} 0 rgb(169 169 169 / 0.25);
  --hover-base-duration: 0.4s;
  --hover-base-easing: cubic-bezier(0.33, 1, 0.68, 1);
  --z-index-header: 1000;
  --clip-triangle-top: polygon(50% 0, 100% 100%, 0 100%);
  --clip-triangle-bottom: polygon(0 0, 100% 0, 50% 100%);
  --clip-triangle-right: polygon(0 0, 100% 50%, 0 100%);
  --clip-triangle-left: polygon(0 50%, 100% 0, 100% 100%);
}

html {
  font-size: 10px;
  @include mq() {
    font-size: calc(100vw / 44);
  }
}

body {
  position: relative;
  font-size: clamp(rem(14), vwcalc(16), rem(16));
  line-height: var(--lh-base);
  font-weight: 400;
  color: var(--color-base);
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  @include mq() {
    font-size: rem(16);
  }
}

[id] {
  scroll-margin-top: var(--header-height);
}

:where(:focus) {
  outline: none;
}

:where(:focus-visible) {
  outline: rem(2) solid var(--color-primary);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &[href^='tel:'] {
    @include mq(lg) {
      pointer-events: none;
    }
  }
}

._md {
  display: none;
  @include mq {
    display: block;
  }
}

._lg {
  display: none;
  @include mq(lg) {
    display: block;
  }
}
